* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #ffaa00;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    
}

.logo {
    height: 50px;
}

.menu-items {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-items a {
    color: #fff;
    text-decoration: none;
}

/* Icône burger */
.burger {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 3px;
    background: #fff;
    border-radius: 5px;
}

/* Adaptation mobile */
@media (max-width: 768px) {
    .menu-items {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background: #333;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    .menu-items.active {
        display: flex;
    }

    .burger {
        display: flex; 
    }
}


